#profile-page-img {
    width: 256px;
    height: 256px;
    margin-bottom: 15px;
    border: 5px solid black;
}

.def-textarea {
    height: 250px;
    resize: none;
}

@media (max-width: 990px) {
    #profile-page-img-wrapper {
        text-align: center;
    }

    #profile-page-img {
        width: 128px;
        height: 128px;
    }
}

@media (max-width: 420px) {
    #profile-page-img {
        width: 96px;
        height: 96px;
    }
}