body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[class^="widget"] {
  background: transparent;
  border: 2px solid #C8B568;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .3);
  padding: 10px;
}

.widget-solid {
  backdrop-filter: blur(50px);
}

.highlighted:hover {
  color: #C8B568;
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.highlight-text {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #C8B568;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}