spring.application.name=score-track
spring.config.import=optional:file:.env[.properties]

spring.servlet.multipart.max-file-size=1024KB
spring.servlet.multipart.max-request-size=2048KB

# Default locale
application.locale=en

# SQL configuration
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.jpa.hibernate.ddl-auto=
spring.jpa.open-in-view=false

# Auth
rsa.private-key=classpath:certs/private.pem
rsa.public-key=classpath:certs/public.pem
sym.remember-me=${RM_KEY}

# Recaptcha
recaptcha.verify-url=https://www.google.com/recaptcha/api/siteverify
recaptcha.private-key=${RECAPTCHA_PR_KEY}
recaptcha.public-key=${RECAPTCHA_PB_KEY}
recaptcha.connection-timeout=${WEB_DEFAULT_CONNECT_TIMEOUT}
recaptcha.read-timeout=${WEB_DEFAULT_READ_TIMEOUT}

# Google cloud
google.cloud.auth=certs/gcs_key.json
google.cloud.project-id=
google.cloud.bucket-main=

email.external-validator=false

# Redis
redis.hostname=localhost
redis.port=6379

# Default ttl for caching, ms
caching.default.ttl=3600000

# GeoLite
geo.enabled=false

# ClamAV
clamAV.hostname=localhost
clamAV.port=3310

# # 3rd party front end dev
# MUST BE DISABLED IN PROD
react.enable.dev=false

# Sending mails
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.protocol=

mail.noreply.address=score-track.noreply@gmail.com
mail.support.address=score-track.support@gmail.com

# Mongo
mongo.db.rs=false

# NBA Api
nbaapi.mongodb.host=
nbaapi.mongodb.authenticationDatabase=
nbaapi.mongodb.database=
nbaapi.mongodb.username=
nbaapi.mongodb.password=
nbaapi.mongodb.port=

# Free plan permits 10 requests per minute
nbaapi.rate.limit=10

nbaapi.update.team.cron=0 0 12 * * ?
nbaapi.update.player.cron=0 0 13 * * ?

nbaapi.update.threadpool.size=8

nbaapi.realhost=
nbaapi.key.name=
nbaapi.key.value=
nbaapi.host.name=
nbaapi.host.value=
nbaapi.connection.timeout=
nbaapi.read.timeout=