<!DOCTYPE html>
<html lang="en" layout:decorate="~{base.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/layouts/styles/common.css}" rel="stylesheet">
    <link th:href="@{/bundles/main.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div th:replace="~{fragments/alerts.html :: alert-info}"></div>
    <div id="root"></div>
    <script type="text/javascript" sec:authorize="isAnonymous() || isClient()" th:src="@{/bundles/home/bundle.min.js}"></script>
    <!-- // TODO: different script for support/admin -->
    <!--<script type="text/javascript" src="http://localhost:3000/static/js/bundle.js"></script>-->
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</div>
</body>
</html>